node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# SQLite databases & instances
database.db
instance/
*.db
*.sqlite
